.header{
    margin-top: 60px;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color:crimson;
}
.headerTitlesm{
    position: absolute;
    top: 20%;
    font-size: 70px;


}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 40px;
    object-fit: cover;


}